$new-body-bg: #F7F7F7;
$d-gray-1: #D9D9D9;
$d-gray-2: #D9D9D9;
$d-gray-3: #A3A3A3;
$d-gray-4: #E2E2E2;
$d-black-1: #2B2B2B;
$d-black-2: #5F5F5F;
$d-blue-1: #2C384C;

$d-red-1: #EA0000;
$d-orange-1: #E86E4E;
$d-green-1: #51AD54;


$gray-1: #dedede;
$gray-2: #A3A3A3;
$black-1: #2E2D2C;
$black-2: #2B2B2B;
$red-1: #E86E4E;

.color-d-black-1 {
  color: $d-black-1;
}

.color-d-black-2 {
  color: $d-black-2;
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #232323;
$white: #ffffff;

$primary: #1f3d4e;
$danger: #ff5a5f;
$hover-state: #5DAA5D;
$gray-1: #dedede;
